<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Django Blog</title>
  </head>
  <body>
    <header>
      <h1>Django Blog</h1>
      <p>
        hecho con la guía de
        <a href="https://tutorial.djangogirls.org/es/" target="_blank"
          >djangogirls</a
        >
      </p>
    </header>

    <main>
      <section>
        {% for post in posts %}
        <article>
          <p>publicado: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
